

<!-- <div id="intro" class="view">
	<div id="intro" class="view">
		<div class="full-bg-img hm-black-strong container">
			<h1 class="headerText">Foodgenerator</h1>
			<h1 class="underText">Waar heeft u vandaag trek in?</h1>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2 zoekBalk" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Search</button>
						<button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Search</button> 
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div> -->	
 <app-recipe-search></app-recipe-search> 
 
<!-- <div class="container"> -->


  
<!--  <div class="container">

	<h2>My Recipies</h2>
	<div class="recipies row">
	    <a routerLink="../recipe-detail/{{recipe.id}}" *ngFor="let recipe of recipies" class="card col-md-4" >
		  	<img class="card-img-top" src="{{recipe.receptafbeelding}}">
		  	<div class="card-body">
			    <h5 class="card-title">{{recipe.name}}</h5>
			    <p class="card-text">
				    <span>
				    	<i class="fas fa-signal"></i>
				    	{{recipe.moeilijkheidsgraad}}
				    </span><br>
			 		<span>
			 			<i class="far fa-clock"></i>
			 			{{recipe.bereidingstijd}}
					 </span><br>
					 <span>
						<i class="fas fa-utensils"></i>
						{{recipe.soort}}
					</span>
			    </p>

		  	</div>
		</a>
	</div>

</div> -->



<!-- </div> -->




<!-- <div>{{recipe.hoeveelheden[0]}} {{recipe.ingredienten[0]}}</div> -->

	  <!--   <div *ngFor="let recipe of recipies" class="card col-md-4">
	    	<a href="http://dionnejung.nl/">
		        <div class="view overlay">
		            <img class="card-img-top" src="{{recipe.receptafbeelding}}">
		            <a href="#!">
		                <div class="mask rgba-white-slight"></div>
		            </a>
		        </div>

		        <div class="card-body">

		            <h4 class="card-title">{{recipe.name}}</h4>

		            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

		        </div>
		    </a>
	  	</div> -->
		

