<div class="container detail_blok">
	<a href="../tips-tricks" role="button" class="btn btn-primary back">Terug naar Tips&Tricks</a>
	<div class="row blok_top">
		<div class="col-md-5 afbeelding">
			<img class="detail_img" src="{{tips.afbeelding}}">
		</div>
		<div class="col-md-7 recept_info">
			<h1 class="detail-recipe-name">{{ tips.name }}</h1>
			<span>
		    	{{tips.info}}
		    </span><br>

		</div>
	</div>
	<div class="row blok_bottom">
		<div class="col-md-5 ingredient">
			<span>
		    	<h3>{{tips.tip1name}}</h3>
		    </span><br>
		    <span>
		    	<p>{{tips.tip1tekst}}</p>
		    </span><br>
		</div>
		<div class="col-md-7 bereiding">
			<span>
		    	<h3>{{tips.tip2name}}</h3>
		    </span><br>
		    <span>
		    	<p>{{tips.tip2tekst}}</p>
		    </span><br>
		</div>
	</div>
</div>



	